.vscode/
.idea/

node_modules
npm-debug.log
yarn-error.log
webpack.mix.js
public/hot
public/storage
storage/debugbar
.env.local
.env.testing
.env.backup

tests/
phpunit.xml

.git
.gitignore
.editorconfig
README.md

.dockerignore
Dockerfile*
docker-compose*

storage/*.log
storage/*.cache
storage/*.tmp
storage/oauth-*.key

!bootstrap/cache/.gitignore
!storage/logs/.gitignore
!storage/framework/.gitignore
